body{
    margin : 0px ;
    height: 100vh;
    width:100vw;
    display : flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    transition: background-color 3s ease;
    /*background-color: #0b1d3a;*/
    z-index : 100 ;

}

@keyframes blinkBackground {
  0%   { background-color: #0b1d3a; } /* 深藍 */
  50%  { background-color: #1e3f72; } /* 淺藍 */
  100% { background-color: #0b1d3a; } /* 深藍 */
}

body.blink {
  animation: blinkBackground 2s infinite;
}    

.start{
    scale: 1;
    display : flex ;
    flex-direction: column;
    background-color: transparent;
    height : 300px ;
    width : 250px;
    justify-content: center;
    align-items: center;
}

.text2{
    font-size: 20px;
    font-family: "Share Tech Mono", monospace;
    color: white ;
}




