body{
    margin : 0px ;
    height: 100vh;
    width:100vw;
    display : flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    
    /*background-color: #0b1d3a;*/
    z-index : 100 ;

}

.start{
    scale: 1;
    display : flex ;
    flex-direction: column;
    background-color: transparent;
    height : 300px ;
    width : 180px;
    justify-content: center;
    align-items: center;
}

.text2{
    font-size: 20px;
    font-family: "Share Tech Mono", monospace;
    color: white ;
}


