.lightbulb_container{
    border : 0;
    padding : 0;
    scale : 2;
    background-color: red;
    display : flex ;
    position: relative ;

}


.lightbulb_button{
    position : relative;
    display: flex ;
    background-color: transparent;
    height: 200px ;
    aspect-ratio: 1/1 ;
    margin:0;
    padding : 0 ;
    border : none ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0 ;
}

.lightbulb_head{
    position : relative ;
    background-color: rgb(230, 212, 54);
    transform-origin: center center;
    opacity: 1;
    height : 75px ;
    width : 75px ;
    top : 0 ;
    border-radius: 50% ;
    z-index : 1;
    box-shadow: 0px 0px 8px 0px rgb(230, 212, 54);
}

/*
.lightbulb_inner_head{
    position : relative ;
    background-color: #a99d2a;
    opacity: 1;
    height : 50px ;
    width : 50px ;
    top : 0 ;
    border-radius: 50% ;
    z-index : 1;
}
*/

.lightbulb_neck{
    position: relative ;
    z-index : 3 ;
    top : -10px ;
    background-color:#e6d436 ;
    border-radius: 2px;
    height: 20px;
    width: 30px;
}


.lightbulb_tail{
    position : relative ;
    background-color: #c0c0c0;
    border : solid;
    border-color: black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius : 1px 1px 4px 4px ;
    top : 0px ;
    height : 10px ;
    width :30px ;
    z-index : 2 ;
    border-color: black;
    border-width: 1px;
}

.lightbulb_tail:nth-child(3){
    top : -15 ;
    z-index : 5 ;
}

.lightbulb_tail:nth-child(4){
    top : -18 ;
    z-index : 4;

}

.lightbulb_tail:nth-child(5){
    top : -21 ;
    z-index : 3 ;
}

