.santa,
.santa2,
.santa3{
    background-color : transparent;
    height : 300px;
    width : 300px;
    position : absolute ;
    display: flex ;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index : 5000;
    scale : 0.2;
    top : 80px;
    left : -100px;
    transform: rotate(-15deg);
    animation: swing 0.75s infinite alternate ;

}

.santa2{
    top : 0px;
    left : -30px;
    transform: rotate(20deg);
    scale : 0.25;
    animation: swing2 1.2s infinite alternate ;
}

.santa3{
    scale : 0.12;
    top : -85px;
    left : -70px;
    transform: rotate(-15deg);
    animation: swing2 1.5s infinite alternate ;
}

.hat{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position : relative ;
    height : 100px;
    width : 200px;
}

.hat_ball{
    background-color: white;
    position : absolute ;
    border-radius: 50%;
    z-index : 5005 ;
    height : 15px;
    width : 15px;
    box-shadow: 1px 1px 10px rgb(198, 197, 197);
    top: 35px;
    left : 10px;
}

.hat_top{
    background-color: #dc2d2d;
    /*
    border : 1px solid black ;
    */
    z-index : 5000;
    position : absolute ;
    border-radius: 50%;
    transform: rotate(-18deg);
    top: 16px;
    left : 18px;
    height : 25px;
    width : 110px;

}

.hat_top2{
    position : relative ;
    border-left: 120px solid transparent;
    border-right: 70px solid  transparent;
    border-bottom: 60px solid #da2b2b;
    border-radius: 5px 5px 5px 5px;
    height : 0px;
    width : 0px;
}

.hat_bottom{
    z-index : 7000;
    background-color: white;
    position : relative ;
    height : 30px;
    width : 200px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgb(198, 197, 197);
}

.face{
    background-color: #FAD6A5;
    position : relative ;
    display: flex ;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height : 120px;
    width : 170px;
}

.eye{
    background-color: transparent;
    position : relative ;
    display: flex ;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height : 25px;
    width : 190px;
}

.eyeL{
    background-color: black;
    position : absolute ;
    border-radius: 50%;
    z-index : 5005 ;
    height : 10px;
    width : 10px;
    top: 13px;
    left : 50px;
}

.eyeR{
    background-color: black;
    position : absolute ;
    border-radius: 50%;
    z-index : 5005 ;
    height : 10px;
    width : 10px;
    top: 13px;
    left : 130px;
}

.nose{
    background-color: #fab787;
    position : relative ;
    border-radius: 50%;
    height : 20px;
    width : 30px;
    top: 8px;
    left : 33px;
    transform: rotate(13deg);
}

.beard{
    position : absolute ;
    display: flex ;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white ;
    top : 130px;
    height : 150px ; 
    width : 200px ;
    border-radius: 0 75% 30% 75%; 
    rotate : -30deg ;
}

.mouth{
    background-color: black;
    position : relative ;
    border-radius: 50% ;
    height : 20px;
    width : 30px;
    top : 18px;
    left : 18px ;
}


@keyframes swing {
    from {transform: rotate(-15deg);}
    to {transform: rotate(30deg);}
}

@keyframes swing2 {
    from {transform: rotate(-30deg);}
    to {transform: rotate(30deg);}
}