.Timer_label {
    display: flex ;
    flex-direction : column ;
    position : relative ;
    justify-content : center ;
    align-items: center ;
    background-color: rgb(222, 174, 54);
    height : 80px;
    width : 180px;
    aspect-ratio: 2/1;
    z-index : 100 ;
    font-size: 100%;
    border : 5px solid rgb(191, 150, 48) ;
    text-align : center; 
    margin-bottom: 50px;
}

.Timer_label div{
    font-family: "Share Tech Mono", monospace;
    color: white ;
}