.xmas{
    background-color: transparent;
    color : white ;
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    position : relative;
    top : 10% ;
}

.container{
    position: relative;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    flex-shrink: 0;

}